{% extends "base.html" %}

{% block titulo %}NUEVO PLAN{% endblock %}

{% block botones_superiore %}
    <a class="btn btn-outline-success" href="/travels">Home</a>
    <a class="btn btn-outline-warning ms-3" href="/logout">Logout</a>
{% endblock %}

{% block contenido %}
<h4>Add Plan</h4>
<div class="row">
    <form action="" method='POST'>
    {% csrf_token %}
        <div class="mb-3">
          <label for="" class="form-label">Destination</label>
          <input type="text" class="form-control" aria-describedby="" name="destination">
        </div>
        <div class="mb-3">
            <label for="">Description</label>
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="description"></textarea>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Travel Data From</label>
            <input type="date" class="form-control" aria-describedby="" name="travel_from">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Travel Data To</label>
            <input type="date" class="form-control" aria-describedby="" name="travel_to">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% endblock %}

{% block libreria %}
{% endblock %}